#foorumi #keskustelut{
    width: 860px;
    background-color: #d3d3d3;
    color: #000000;
    font-size: 12px;
    border-radius: 10px;
}
#foorumi #otsikko .uusikeskustelu-nappi, #foorumi #otsikko .uusitapahtuma-nappi {
    background-image: URL(/Remix/kuvat/valikko/uusikeskustelu.png);
    height: 31px;
    width: 111px;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    cursor: pointer;
    padding: 0;
    border-radius: 0px;
}
#foorumi #keskustelualue #otsikko .uusitapahtuma-nappi {
    background-image: URL(/Remix/kuvat/valikko/uusitapahtuma.png);
}
#foorumi #keskustelualue #sivunumerot {
    float: right;
    margin-right: 5px;
}
#foorumi #keskustelualue #keskustelut .keskustelu{
    width: 860px;
    height: 50px;
    margin: 0px 0px 15px 0px;
    background-color: #ff8331;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
}
#foorumi #keskustelualue #keskustelut .keskustelu .vasen{
    width: 430px;
    margin: 0px 0px 0px 40px;
    padding-top: 2px;
    float: left;
}
#foorumi #keskustelualue #keskustelut .keskustelu .nimi{
    font-size: 20px;
    color: #ff8331;
    float: left;
}
#foorumi #keskustelualue #keskustelut .keskustelu .nimi a{
    text-decoration: none;
    color: #000000;
}
#foorumi #keskustelualue #keskustelut .napit {
    margin-left: 10px;
    float: right;
}
#foorumi #keskustelualue #keskustelut .poista, 
#foorumi #keskustelualue #keskustelut .muokkaa {
    background-image: URL(/Remix/kuvat/valikko/muokkaa_pikku.png);
    float: left;
    width: 29px;
    height: 25px;
    margin: 3px 5px 0px 0px;
    cursor: pointer;
}
#foorumi #keskustelualue #keskustelut .poista {
    background-image: URL(/Remix/kuvat/valikko/poista_pikku.png);
}
#foorumi #keskustelualue #keskustelut .keskustelu .keski{
    width: 185px;
    padding-top: 2px;
    float: left;
}
#foorumi #keskustelualue #keskustelut .keskustelu .oikea{
    width: 185px;
    float: left;
    padding-top: 7px;
    margin: 0px;
}