#foorumi #muokkaatapahtumaa {
    background-color: #d3d3d3;
    border-radius: 10px;
    width: 860px;
}
#foorumi #muokkaatapahtumaa #otsikko {
    color: #ffffff;
    background-color: #313131;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    font-size: 18px;
    margin: 0px;
    padding: 5px 0px 0px 20px;
    width: auto;
}
#foorumi #muokkaatapahtumaa #lomake {
    padding: 10px;
    overflow: hidden;
}
#foorumi #muokkaatapahtumaa #vasen, #foorumi #muokkaatapahtumaa #oikea, #foorumi #muokkaatapahtumaa #oikea_ei_margin {
    padding: 0;
    margin: 0;
    float: left;
    width: 250px;
    margin-bottom: 20px;
}
#foorumi #muokkaatapahtumaa #oikea {
    width: 546px;
    margin-left: 44px;
}
#foorumi #muokkaatapahtumaa #oikea_ei_margin{
    width: 590px;
    margin-left: 0px;
}
#foorumi #muokkaatapahtumaa #tekstikentta {
    width: 300px;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: inset;
}
#foorumi #muokkaatapahtumaa #input textarea {
    height: 100px;
}
#foorumi #muokkaatapahtumaa #oikea_ei_margin #paiva #teksti{
    float: left;
    margin-right: 10px;
}
#foorumi #muokkaatapahtumaa #oikea_ei_margin #aika #teksti {
    float: left;
    margin-right: 18px;
}
#foorumi #muokkaatapahtumaa #napit {
    margin: 10px 0px 0px 0px;
}
#foorumi #muokkaatapahtumaa .muokkaa {
    width: 111px;
    height: 31px;
    background-image: URL(/Remix/kuvat/valikko/muokkaa.png);
    float: left;
    cursor: pointer;
}
#foorumi #muokkaatapahtumaa .tyhjenna {
    width: 111px;
    height: 31px;
    background-image: URL(/Remix/kuvat/valikko/tyhjenna.png);
    float: left;
    cursor: pointer;
}