#foorumi #muokkaakeskustelua {
    background-color: #d3d3d3;
    border-radius: 10px;
    padding-bottom: 20px;
}
#foorumi #muokkaakeskustelua #otsikko {
    color: #ffffff;
    background-color: #313131;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    font-size: 18px;
    margin: 0px;
    padding: 5px 0px 0px 20px;
    width: auto;
}
#foorumi #muokkaakeskustelua #lomake {
    padding: 10px 0px 0px 20px;
    overflow: hidden;
}
#foorumi #muokkaakeskustelua #keskustelunotsikko div{
    width: 70px;
    float: left;
}
#foorumi #muokkaakeskustelua #keskustelunotsikko .kentta input {
    width: 740px;
}
#foorumi #muokkaakeskustelua #napit {
    margin: 10px 0px 0px 70px;
}
#foorumi #muokkaakeskustelua .muokkaa {
    width: 111px;
    height: 31px;
    background-image: URL(/Remix/kuvat/valikko/muokkaa.png);
    float: left;
    cursor: pointer;
}
#foorumi #muokkaakeskustelua .takaisin {
    float: left;
    margin: 0;
}