#foorumi #poistakeskustelu #otsikko{
    padding: 0px;
}
#foorumi #poistakeskustelu #nimi{
    font-size: 18px;
    padding: 0;
    margin-bottom: 10px;
}
#foorumi #poistakeskustelu #napit {
    margin: 10px 0px 0px 0px;
    overflow: auto;
}
#foorumi #poistakeskustelu .poista {
    margin: 0;
    width: 111px;
    height: 31px;
    background-image: URL(/Remix/kuvat/valikko/poista.png);
    float: left;
}
#foorumi #poistakeskustelu .takaisin {
    margin: 0;
    width: 111px;
    height: 31px;
    background-image: URL(/Remix/kuvat/valikko/takaisin.png);
    float: left;
}