#foorumi #tapahtuma #napit #muokkaa, #foorumi #tapahtuma #napit #poista {
    margin: 0;
    width: 111px;
    height: 31px;
    background-image: URL(/Remix/kuvat/valikko/muokkaa.png);
    float: left;
    cursor: pointer;
    margin-bottom: 20px;
}
#foorumi #tapahtuma #napit #poista {
    background-image: URL(/Remix/kuvat/valikko/poista.png);
}
#foorumi #tapahtuma #otsikko{
    padding: 0px;
    height: auto;
    margin-bottom: 10px;
}
#foorumi #tapahtuma #ilmoittautumis-error {
    font-size: 14px;
    float: right;
    color: #ff0000;
    display: none;
}
#foorumi #tapahtuma #kommentointi-error {
    display: none;
    color: #ff0000;
}
#foorumi #tapahtuma #kommentointi-ok {
    display: none;
    color: #0fc106;
}
#foorumi #tapahtuma #aikajapaikka {
    margin-bottom: 10px;
    font-size: 17px;
}
#foorumi #tapahtuma #aikajapaikka #aika{
    float: left;
}
#foorumi #tapahtuma #aikajapaikka #paikka{
    float: right;
}
#foorumi #tapahtuma #kuvaus {
    font-size: 16px;
}
#foorumi #tapahtuma #otsikko #ilmoittatuminentakaraja{
    font-size: 18px;
    margin-right: 30px;
    padding-top: 4px;
    float:right;
}
#foorumi #tapahtuma #ilmoittautumiset #in, #foorumi #tapahtuma #ilmoittautumiset #out{
    background-color: #d3d3d3;
    border-radius: 10px;
    width: 860px;
    min-height: 100px;
}
#foorumi #tapahtuma #ilmoittautumiset #header {
    color: #ffffff;
    background-image: none;
    background-color: #313131;
    border-radius: 5px 5px 0px 0px;
    height: 30px;
    width: auto;
    margin: 0;
    padding: 5px 0px 0px 20px;
    font-size: 18px;
}
#foorumi #tapahtuma #ilmoittautumiset #pelaajat {
    width: auto;
    overflow: hidden;
    padding: 0px 10px 10px 0px;
}
#foorumi #tapahtuma #ilmoittautumiset .pelaaja{
    height: 19px;
    float: left;
    padding: 4px;
    margin: 10px 0px 0px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #000000;
    background-color: #ff8331;
    box-shadow: 1px 1px 2px #888888;
    cursor: default;
}
#foorumi #ilmoittaudu {
    float: right;
    font-size: 16px;
}
#foorumi #ilmoittaudu .in, #foorumi #ilmoittaudu .out, #foorumi #ilmoittaudu .in_ilmoittautunut, #foorumi #ilmoittaudu .out_ilmoittautunut {
    background-image: URL(/Remix/kuvat/valikko/in_grey.png);
    width: 43px;
    height: 31px;
    text-align: center;
    float: left;
    cursor: pointer;
}
#foorumi #ilmoittaudu .in:hover {
    background-image: URL(/Remix/kuvat/valikko/in_green.png);
}
#foorumi #ilmoittaudu .out:hover {
    background-image: URL(/Remix/kuvat/valikko/out_red.png);
}
#foorumi #ilmoittaudu .out, #foorumi #ilmoittaudu .out_ilmoittautunut {
    background-image: URL(/Remix/kuvat/valikko/out_grey.png);
}
#foorumi #ilmoittaudu .in_ilmoittautunut {
    cursor: default;
    background-image: URL(/Remix/kuvat/valikko/in_green.png);
}
#foorumi #ilmoittaudu .out_ilmoittautunut {
    cursor: default;
    background-image: URL(/Remix/kuvat/valikko/out_red.png);
}
#foorumi #tapahtuma #ilmoittautumiset #kommentti {
    width: 880px;
    height: 31px;
    margin-top: 10px;
}
#foorumi #tapahtuma #ilmoittautumiset #kommentti #teksti {
    margin: 5px 5px 0px 10px;
    float: left;
}
#foorumi #tapahtuma #ilmoittautumiset #kommentti .kommenttikentta {
    margin: 5px 5px 0px 0px;
    width: 676px;
    border-width: 1px;
    float: left;
}
#foorumi #tapahtuma #ilmoittautumiset #kommentti .laheta {
    background-image: URL(/Remix/kuvat/valikko/laheta.png);
    height: 31px;
    width: 111px;
    float: left;
    cursor: pointer;
    margin: 0;
}